.root {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 20px;
}

/* Title labels (screen headers) */
.screen-title {
    -fx-text-fill: #00FF00; /* Vibrant green */
    -fx-font-size: 50px;
    -fx-font-weight: 700;
}

/* Optional: smaller subtitle labels */
.subtitle-label {
    -fx-text-fill: #00FF00;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

/* Year Label (entry view) */
.year-Label {
    -fx-font-size: 25px;
    -fx-font-weight: 700;
    -fx-opacity: 0.5;
}

.label.error-label {
    -fx-font-weight: 700;
}

/* Input label (e.g., Title:, Platform:, Status:) */
.input-label {
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

.title-label {
    -fx-font-size: 40px;
    -fx-font-weight: 600;
}

/* Standard buttons */
.button {
    -fx-padding: 8 18;
    -fx-background-radius: 8;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

.toggle-button {
    -fx-padding: 8 18;
    -fx-background-radius: 8;
    -fx-font-size: 20px;
    -fx-font-weight: 600;
}

/* Text fields, combo boxes, date pickers */
.text-field,
.text-area,
.combo-box,
.date-picker {
    -fx-font-family: "Jersey 10";
    -fx-background-radius: 8;
    -fx-padding: 6;
    -fx-font-size: 20px;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #108E10;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #108E10;
}

.date-cell:selected {
    -fx-background-color: #108E10;
}

/* Hearts (rating) */
.heart-toggle {
    -fx-background-color: transparent;
    -fx-font-size: 28px;
    -fx-padding: 0 4;
}

/* ScrollPane */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 10;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
}

/* Bar Chart */
.chart {
    -fx-background-color: transparent;
}

.chart-plot-background {
    -fx-background-radius: 8;
}

.default-color0.chart-bar { -fx-bar-fill: #108E10; }
.default-color1.chart-bar { -fx-bar-fill: #759bff; }
.default-color2.chart-bar { -fx-bar-fill: #ffaa2b; }

.game-card {
    -fx-font-family: "Jersey 10";
    -fx-font-size: 18px;
    -fx-background-radius: 12;
    -fx-background-color: transparent;
}

.header-card {
    -fx-background-radius: 12;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 2);
}

.settings-card {
    -fx-background-radius: 12;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 12, 0.2, 0, 3);
}

/*
.summary-card {
    -fx-background-radius: 10;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
}*/

.hyperlink {
    -fx-text-fill: #108E10
}

.hyperlink:pressed {
        -fx-text-fill: #108E10
    }